/* star universal operator */
* ,
*::before ,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Css Root Selector */
:root {
	--soft-white: #f1f1f1 ;
}

/* Utml And Body Tag */
html { font-size: 62.5% }
body {
	display: flex;
	flex-direction: column;
}